<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jovian Careers</title>
	
    <style>
      h1{
        font-family: Roboto;
        text-align: center;
        color: rgb(180, 180, 100)
      }
      h2{
        font-family: Roboto;
        color: rgb(180, 180, 100)
        text-align: center;
      }
      .bodytext {
        font-family: rosybrown; 
        text-align: center; 
        color: rgb(80,90,90)
      }

		#banner {
			width: 100%;
			height: 160px;
			object-fit: cover;
		}		

      #container{
        max-width: 720px;
        margin: 0 auto 0 auto;
      }
    </style>
</head>
<body>
	<div id=container>
	<h1>Jovian Careers</h1>
	<img id="banner" src="https://joviancareerwebsite.neocat.repl.co/static/banner.jpg" height='320'>
	<h1>About Jovian</h1>
	<p class="bodytext">Hodor. Hodor hodor, hodor. Hodor hodor hodor hodor hodor. Hodor. Hodor! Hodor hodor, hodor; hodor hodor hodor. Hodor. Hodor hodor; hodor hodor - hodor, hodor, hodor hodor. Hodor, hodor. Hodor. Hodor, hodor hodor hodor; hodor hodor; hodor hodor hodor! Hodor hodor HODOR! Hodor hodor... Hodor hodor hodor...</p>
	<h2>Open Positions</h2>
		<p class="bodytext">Show the jobs here</p>
		<div style="text-align: center;">
	<button>Contact Us</button>
		</div>
		</div>
</body>
</html>